<section class="bg-gray-100">
  <div class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <h2
      class="text-3xl font-extrabold text-gray-900 sm:text-4xl tracking-tight text-decoration mb-16"
    >
      ABOUT US
    </h2>
    <div
      class="md:flex justify-center items-start md:gap-20 sm:gap-5 md:flex-row sm:flex-col"
    >
      <div class="max-w-2xl">
        <p class="text-lg leading-relaxed text-slate-600 text-justify">
          At <strong>EvolvX</strong>, we are proud to leverage over a decade of
          expertise in the specialized fields of label printing and fasteners,
          establishing ourselves as a <strong>trusted partner</strong> around the
          globe. Our journey has been defined by a commitment to quality, precision,
          and a deep understanding of both <strong
            >industry standards and compliance requirements</strong
          >. This foundation allows us to deliver premium, globally certified
          products that meet stringent regulatory expectations and exceed
          customer standards.
        </p>
        <p class="text-lg leading-relaxed text-slate-600 mt-5 text-justify">
          We provide clients with innovative, tailored solutions that address
          their unique needs. We recognize that each client has specific
          requirements. <strong>Our experience</strong> enables us to adapt to these
          varied needs, offering products that are not only high-quality but also
          customized to fit specific applications, ensuring durability and effectiveness
          in diverse environments. <strong>Our goal</strong> is to ensure that each
          customer receives impactful, effective solutions tailored to their specific
          challenges.
        </p>
        <p class="text-lg leading-relaxed text-slate-600 mt-5 text-justify">
          As we continue to grow, we remain committed to upholding the standards
          that define us, bringing our <strong
            >expertise, dedication, and customer-first approach</strong
          > to every project we undertake. At <strong>EvolvX</strong>, it's not
          just about products — it's about building lasting partnerships and
          delivering solutions that drive success"
        </p>
      </div>
      <div class="mt-12 md:mt-0">
        <img
          src="img/about-us.webp"
          alt="About Us Image"
          class="object-cover rounded-lg shadow-md"
        />
      </div>
    </div>
  </div>
</section>

<style>
  .btn-bg-color {
    background-color: #00b6f0 !important;
  }
  .btn-text-color {
    color: #5b5b5b !important;
  }
</style>
